body {
  background-color: lightgrey;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 2px solid black;
  padding: 30px;
  background:red;
  /*width:100%;*/
  overflow: hidden;
  margin-bottom: 30px;
}

h1 {

  display: inline;
  padding: 0 10px;
  border: 2px solid black;
  border-radius: 18px;
}

ul{
  list-style: none;
}

h2 {
  padding-bottom: 5px;
  display: inline;
  border-bottom: 2px solid blue;
}

.details {
  margin-left: 20px;
}

.example {
  text-align: left;
}
